127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

${iscsi-server-ip} iscsi-server
${gfs2-0-ip}	gfs2-0
${gfs2-1-ip}    gfs2-1
${gfs2-2-ip}    gfs2-2
